<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444278190668-20u2jvh1bqqtcf6et10ob32rktuvn77h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444278190668-20u2jvh1bqqtcf6et10ob32rktuvn77h</string>
	<key>API_KEY</key>
	<string>AIzaSyBB8gtZHEyNuyVJ_t5r41W-PSEnYcxX1aI</string>
	<key>GCM_SENDER_ID</key>
	<string>444278190668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cashme</string>
	<key>PROJECT_ID</key>
	<string>cashme-4af9b</string>
	<key>STORAGE_BUCKET</key>
	<string>cashme-4af9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444278190668:ios:1d6a88078b8e44e3f13ae9</string>
</dict>
</plist>